.footer {
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: relative;
    bottom: 0;
    z-index: 100;
}

.footer h2 {
    font: 300;
    color: #fff;
}

.footer a {
    color: #fff;
}